# Handling Categorical Data(Part-1)

## 1).One Hot Encoding

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('../Datasets/titanic.csv',usecols=['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [5]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df=pd.read_csv('../Datasets/titanic.csv',usecols=['Embarked'])

In [8]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [9]:
df.dropna(inplace=True)

In [10]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1